# Python-specific
__pycache__/
*.py[cod]
*.egg
*.egg-info/
*.eggs
*.pyo
*.pyd
.Python
*.whl

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd
*.so

# Distribution / packaging
.Python
env/
build/
dist/
*.egg-info/
*.eggs/
pip-wheel-metadata/
share/python-wheels/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# PyCharm-specific files
.idea/

# Jupyter Notebook
.ipynb_checkpoints

# MacOS
.DS_Store

# Windows
Thumbs.db
